* {
    margin: 0;
    padding: 0;
    font-family: "Ruslan Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1A0E0A;
}
/* HOME.HTML*/
/*header*/

.baner_img {
    width: 100%;
    height: auto;
    display: block;
}

.baner_title {
    position: absolute;
    top: 120px;
    left: 200px;
    font-size: 80px;
}

.nav {
    width: 100%;
    height: 55px;
    
    background: linear-gradient(
        to right, 
        #1A0E0A,
        #804330,
        #1A0E0A
    );
}

.nav_text {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    gap: 50px;
}
.nav_text a {
    color: #F3D8A1;
    text-decoration: none;
    text-align: center;
    font-size: 28px;
}

/* main */

.main_img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}

.main_block {
    position: absolute;
    top: 450px;
    left: 200px;
    width: 1000px;
    height: 700px;
    background-color: #F3D8A1;
    border-radius: 20px;
    border: 4px solid #804330;
    
}

.search_form {
    position: absolute;
    top: 470px;
    left: 250px;
    margin-top: 10px;
    padding: 7px;
    display: flex;    
}

.search_form-row input{
    width: 600px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #804330;
    margin: 0 15px;
    padding-left: 10px;
}

.search_form-row label {
    font-size: 18px;
}

.search_form-row button {
    width: 100px;
    height: 35px;
    border-radius: 8px;
    background-color:#804330;
    color: #F3D8A1;
    cursor: pointer;
    font-size: 16px;
}

.search_form-row button:active {
    background: #804330;
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(26, 14, 10, 0.1);
  }
            

/*AUTH.HTML*/
.auth {
    position: absolute;
    height: 400px;
    width: 600px;
    top: 470px;
    left: 400px;
    margin-top: 10px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.auth-title {
    padding-bottom: 80px;
}

.auth__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 15px;
}

.auth__form label {
    padding-left: 15px;
}

.auth_form_row {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.auth_form_row .row {
    height: 20px;
    padding: 5px;
    border: 2px solid #804330;
    border-radius: 10px;
}

.auth__form button {
    width: 100%;
    height: 40px;
    padding-top: 5px;
    border: none;
    background-color: #1A0E0A;
    border-radius: 10px;
    color: #F3D8A1;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень кнопки */
    transition: all 0.3s ease; /* Плавные переходы */
}

.auth__form button:hover {
    /* Стили при наведении */
    background-color: #804330; /* Более темный оттенок */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Усиленная тень */
    cursor: pointer; /* Меняем курсор на руку */
    transform: translateY(-2px); /* Легкий эффект нажатия */
   }

.auth__form button:active {
    /* Стили при нажатии */
    background-color: #F3D8A1; /* Еще более темный оттенок */
    color: #1A0E0A;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Уменьшенная тень */
    transform: translateY(0); /* Возврат в исходное положение */
   }

/* Планшет */

@media (min-width: 768px) and (max-width: 1023px) {
    /* HOME.HTML*/
    .baner_title {
        font-size: 50px;
        left: 150px;
        top: 80px;
    }
    .nav {
        height: 40px;
    }
    .nav_line_decor {
        width: 40%;
    }

    .nav_text a {
        font-size: 18px;
    }
   }

/* Мобильные */
@media (max-width: 767px) {
    /* HOME.HTML*/
    .nav_line_decor {
        display: none;
    }
    .baner_title {
        font-size: 36px;
        left: 80px;
        top: 40px;
    }
    .nav {
        height: 30px;
    }
    .nav_text {
        padding-top: 6px;
    }
    .nav_text a {
        font-size: 18px;
    }
   }